html, body {
    height: 100%;
    margin: 0;
}

.dark-bg {
    background-color: #012B4D !important;
}

.offcanvas {
    background-color: #343434 !important;
}

.accordion-button {
    background-color: #343434 !important;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-button:focus {
    box-shadow: 0 0 0 .15rem white;
}

.list-group-item {
    background-color: #343434 !important;
    padding-left: 3rem;
}

.list-group-item:hover {
    background-color: #210583 !important;
}

.main-body {
    min-height: calc(100dvh - 170px);
}

.white-invert {
    filter: invert(1) !important;
}

.invert-after::after {
    filter: invert(1) !important;
}

.button-effect {
    position: relative;
    text-decoration: none;
}

.button-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: orange;
    transition: width 0.3s ease;
}

.button-effect:hover::after {
    width: 100%
}